<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <h1>Harman sikand</h1>
    </header>
    
    <div class="content">
      {{{body}}}
    </div>

    <footer>
      <p>Email: hssikand111@gmail.com</p>
    </footer>
  </body>
</html>
